# Datasets & Large Binary Files
datasets/
models/CSRNet/weights/
*.h5
*.npy
*.mat

# Environment & Python Cache
crowdsafe_env/
__pycache__/
*.pyc

# OS & Preview Output Files
.DS_Store
Thumbs.db
density_map_preview.png
*.pth
*.part
